:root {
  /* COLORS */

  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(211, 17%, 63%);
  --LightGrayishBlue: hsl(207, 33%, 95%);
  --White: #fff;

  /* TYPOGRAPHY */

  --fontManrope: "Manrope", sans-serif;
}

/* Reset */
* {
  box-sizing: border-box;
  font-family: var(--fontManrope);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--LightGrayishBlue);
  font-size: 13px;
}

.card {
  background-color: var(--White);
  border-radius: 15px;
  height: 518px;
  margin: 75px auto;
  position: relative;
  width: 330px;
  -webkit-box-shadow: 9px 10px 64px -26px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 64px -26px rgba(0,0,0,0.75);
box-shadow: 9px 10px 64px -26px rgba(0,0,0,0.75);
}

.card__image {
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-position-y: -20px; /* Movemos la imagen de fondo 20 pixel hacia arriba */
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
}

.card__info__title {
  color: var(--VeryDarkGrayishBlue);
  margin: 40px 40px 12px;
  width: 260px;
  line-height: 24px;
  font-size: 1.24em; /* El valor em lo toma del valor guardado en la variable de medida de fuente */
}

.card__info__description {
  color: var(--GrayishBlue);
  line-height: 20px;
  margin: 5px auto;
  font-size: 1.01em;
  width: 260px;
}

.card__info__button {
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  bottom: 20px;
  height: 30px;
  padding: 7px;
  position: absolute;
  right: 35px;
  width: 30px;
  z-index: 999;
}




/* *********************** PROFILE ************************* */

.card__content__profile {
  display: flex;
  align-items: center;
  width: 260px;
  margin: 35px 30px;
}

.card__content__profile img {
  height: 40px;
  border-radius: 50%;
}

.card__content__profile__name {
  color: var(--VeryDarkGrayishBlue);
  margin: 0 15px;
  font-weight: 700;
}

.card__content__profile__date {
  color: var(--GrayishBlue);
  margin: 2px 15px;
}


/* ****************** SOCIAL ICON ********************** */

.card__content__social--icon{
 
  align-items: center;
  background-color: var(--VeryDarkGrayishBlue);
  border-radius: 0 0 12px 12px;
  display: none;
  gap: 5px; /* DISTANCIA ENTR ELEMENTO Y ELEMENTO */
  height: 65px;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}


.card__content__social--icon p{
  color: var(--LightGrayishBlue);
  margin: 0 00px 0 35px;
  letter-spacing: 5px;
}

.card__content__social--icon img{
  margin: 0 3px;
}

.active{
  display: flex;

}

/* ******************************** DESKTOP ***********************************  */

@media (min-width: 980px) {
  
  .card{
    display: flex;
    height: 280px;
    margin: 150px auto 70px;
    width: 735px;
  }

  .card__image {
    background-repeat: no-repeat;
    background-position-y: unset;
    border-radius: 12px 0 0 12px;
    height: 100%;
    width: 285px;
  }

  .card__info{
    margin: 0 auto;
  }

  .card__info__title{
    font-size: 1.50em;
    margin: 30px 25px 15px;
    width: 350px;
    line-height: 28px;
  }

  .card__info__description {
    line-height: 20px;
    margin: 2px auto;
    font-size: 1.01em;
    width: 350px;
  }

  .card__info__button:hover {
    rotate: 360deg;
    transition: 0.4s rotate ease-in-out;
  }
  
  .card__info__button{
    bottom: 35px;
    cursor: pointer;
  }

 
  /* ***************  PROFILE ********************* */

  .card__content__profile{
    margin: 25px 30px;
    
  }

  .card__content__social--icon{
    height: 55px;
    width: 250px;
    border-radius: 12px;
    bottom: 85px;
    right: -65px;
  }

  .card__content__social--icon::after{
    content: "";
    border: 10px solid var(--VeryDarkGrayishBlue);
    rotate: 45deg;
    position: absolute;
    top: 45px;
    left: 125px;
  }
}

